In [ ]:
import nltk
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
real=pd.read_csv("/content/drive/MyDrive/True-211023-185340.csv")
fake=pd.read_csv("/content/drive/MyDrive/Fake-211023-185413.csv")

In [ ]:
real.head()

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3  FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4  Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017

[5 rows x 4 columns]

In [ ]:
fake.tail()

                                                   title  ...              date
23476  McPain: John McCain Furious That Iran Treated ...  ...  January 16, 2016
23477  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...  ...  January 16, 2016
23478  Sunnistan: US and Allied ‘Safe Zone’ Plan to T...  ...  January 15, 2016
23479  How to Blow $700 Million: Al Jazeera America F...  ...  January 14, 2016
23480  10 U.S. Navy Sailors Held by Iranian Military ...  ...  January 12, 2016

[5 rows x 4 columns]

In [ ]:
real["target"]=1
fake["target"]=0

In [ ]:
data=pd.concat([real,fake],axis=0)
data=data.reset_index(drop=True)

In [ ]:
from nltk.tokenize import word_tokenize

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
data=pd.concat([real,fake],axis=0)
data=data.reset_index(drop=True)

In [ ]:
fake.tail()

                                                   title  ... target
23476  McPain: John McCain Furious That Iran Treated ...  ...      0
23477  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...  ...      0
23478  Sunnistan: US and Allied ‘Safe Zone’ Plan to T...  ...      0
23479  How to Blow $700 Million: Al Jazeera America F...  ...      0
23480  10 U.S. Navy Sailors Held by Iranian Military ...  ...      0

[5 rows x 5 columns]

In [ ]:
data["text"]=data["text"].apply(word_tokenize)

In [ ]:
data.head()

                                                text  target
0  [WASHINGTON, (, Reuters, ), -, The, head, of, ...       1
1  [WASHINGTON, (, Reuters, ), -, Transgender, pe...       1
2  [WASHINGTON, (, Reuters, ), -, The, special, c...       1
3  [WASHINGTON, (, Reuters, ), -, Trump, campaign...       1
4  [SEATTLE/WASHINGTON, (, Reuters, ), -, Preside...       1

In [ ]:
data=data.drop(columns=["title","date","subject"])

In [ ]:
data.tail()

                                                    text  target
44893  [21st, centuri, wire, say, 21wire, report, ear...       0
44894  [21st, centuri, wire, say, familiar, theme, wh...       0
44895  [patrick, henningsen, 21st, centuri, wireremem...       0
44896  [21st, centuri, wire, say, jazeera, america, h...       0
44897  [21st, centuri, wire, say, 21wire, predict, ne...       0

In [ ]:
from nltk.stem.snowball import SnowballStemmer

In [ ]:
porter=SnowballStemmer('english')

In [ ]:
def stemmer(text):
    return [porter.stem(row) for row in text]

In [ ]:
data["text"]=data["text"].apply(stemmer)

In [ ]:
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words=set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
stop_words

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [ ]:
def stopword_rem(text):
    return [word for word in text if ((word not in stop_words)and len(word)>2)]

In [ ]:
data["text"]=data["text"].apply(stopword_rem)

In [ ]:
data["text"]=data["text"].apply(" ".join)

In [ ]:
data.head()

                                                text  target
0  washington reuter head conserv republican fact...       1
1  washington reuter transgend peopl allow first ...       1
2  washington reuter special counsel investig lin...       1
3  washington reuter trump campaign advis georg p...       1
4  seattle/washington reuter presid donald trump ...       1

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(data["text"],data["target"],test_size=0.2)

In [ ]:
##vectorisation

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf=TfidfVectorizer(max_df=0.7)
tfidf_train=my_tfidf.fit_transform(xtrain)
tfidf_test=my_tfidf.transform(xtest )

##model

In [ ]:
 from sklearn.linear_model import LogisticRegression

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
model=LogisticRegression(max_iter=1000)
model.fit(tfidf_train,ytrain)

LogisticRegression(max_iter=1000)

In [ ]:
pred=model.predict(tfidf_test)

In [ ]:
accuracy=accuracy_score(ytest,pred)
print(accuracy*100)

98.8195991091314

##passiveAggressiveClasifier

In [ ]:
from sklearn.linear_model import PassiveAggressiveClassifier
model2=PassiveAggressiveClassifier(max_iter=60)
model2.fit(tfidf_train,ytrain)

PassiveAggressiveClassifier(max_iter=60)

In [ ]:
pred2=model2.predict(tfidf_test)

In [ ]:
accuracy2=accuracy_score(pred2,ytest)
print(accuracy2*100)

99.67706013363029

In [ ]:
def transform_input(text):
    text=word_tokenize(text)
    text=stemmer(text)
    text=stopword_rem(text)
    text=" ".join(text)
    text=my_tfidf.transform([text])
    return text

In [ ]:
def make_prediction():
    text=input("Enter the news here: ")
    text=transform_input(text)
    prediction=model2.predict(text)
    print("true"if prediction else "false")

In [ ]:
make_prediction()

Enter the news here: Junior doctors from Premier SCB Medical College and MKCG Medical College launched a protest on Tuesday, strongly condemning the Delhi Police's action against protesting doctors in Delhi on Monday. junior doctor premier scb medic colleg mkcg medic colleg launch protest tuesday strong condemn delhi polic action protest doctor delhi monday
true