In [1]:
import nltk

In [2]:
import pandas as pd

In [3]:
real=pd.read_csv("/Users/akshaykumar/Downloads/True-211023-185340.csv")

In [4]:
fake=pd.read_csv("/Users/akshaykumar/Downloads/Fake-211023-18541.csv")

In [5]:
real.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [6]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [7]:
real["target"]=1

In [8]:
fake["target"]=0

In [9]:
data=pd.concat([real,fake],axis=0)

In [10]:
data.head()

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [11]:
data.iloc[0]

title      As U.S. budget fight looms, Republicans flip t...
text       WASHINGTON (Reuters) - The head of a conservat...
subject                                         politicsNews
date                                      December 31, 2017
target                                                     1
Name: 0, dtype: object

In [12]:
data=data.reset_index(drop=True)

In [13]:
from nltk.corpus import stopwords

In [14]:
stop_words=stopwords.words('english')

In [15]:
stop_words

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [16]:
stop_words=set(stop_words)

In [17]:
stop_words

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [18]:
data=data.drop(columns=["title","subject","date"])

In [19]:
data.head()

                                                text  target
0  WASHINGTON (Reuters) - The head of a conservat...       1
1  WASHINGTON (Reuters) - Transgender people will...       1
2  WASHINGTON (Reuters) - The special counsel inv...       1
3  WASHINGTON (Reuters) - Trump campaign adviser ...       1
4  SEATTLE/WASHINGTON (Reuters) - President Donal...       1

In [20]:
data.target.count

<bound method Series.count of 0        1
1        1
2        1
3        1
4        1
        ..
44893    0
44894    0
44895    0
44896    0
44897    0
Name: target, Length: 44898, dtype: int64>

In [21]:
from nltk.tokenize import word_tokenize

In [22]:
data.columns

Index(['text', 'target'], dtype='object')

In [23]:
data.head()

                                                text  target
0  WASHINGTON (Reuters) - The head of a conservat...       1
1  WASHINGTON (Reuters) - Transgender people will...       1
2  WASHINGTON (Reuters) - The special counsel inv...       1
3  WASHINGTON (Reuters) - Trump campaign adviser ...       1
4  SEATTLE/WASHINGTON (Reuters) - President Donal...       1

In [24]:
data.tail()

                                                    text  target
44893  21st Century Wire says As 21WIRE reported earl...       0
44894  21st Century Wire says It s a familiar theme. ...       0
44895  Patrick Henningsen  21st Century WireRemember ...       0
44896  21st Century Wire says Al Jazeera America will...       0
44897  21st Century Wire says As 21WIRE predicted in ...       0

In [27]:
data.drop(data.index[32692], inplace = True )

In [ ]:
# j=0
# for i in range(44898):
#     j=j+1
#     text=word_tokenize(data.iloc[i]["text"])
#     tar=data.iloc[i]["target"]
#     data.loc[i]=["".join(text),tar]
# print(j)
data["text"]=data["text"].apply(word_tokenize)

In [33]:
word_tokenize("")

[]

In [29]:
data.iloc[32691]["text"]

' Effective as of December 31, 2017, the Patient Protection and Affordable Care Act (Public Law 111 148) is repealed, and the provisions of law amended or repealed by such Act are restored or revived as if such Act had not been enacted. If the American people want to repeal Obamacare, this is their last, best chance during the 115th Congress,  Brooks said. Those Congressmen who are sincere about repealing Obamacare may prove it by signing the discharge petition. At a minimum, the discharge petition will, like the sun burning away the fog, show American voters who really wants to repeal Obamacare and who merely acts that way during election time,  he added. This is the largest welfare plan ever proposed by the Republican Party    Mo BrooksREAD MORE: THE BLAZE'

In [ ]:
"".join(word_tokenize(data.iloc[32690]["text"]))

In [ ]:
data.iloc[32691]["text"]

In [ ]:
fake.info()

In [ ]:
fake.info()

In [34]:
type(fake["text"])

pandas.core.series.Series

In [ ]:
from nltk.stem.snowball import SnowballStemmer

In [ ]:
porter=SnowballStemmer('english')